.user_form_title {
    font-weight: normal;
    text-align: center;
    font-size: 30px;
}
.pagenation-default {
    margin-top: 10px;
}
.custom-ruleForm {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 2rem;
}
.user_form_title {
    margin-bottom: 1.5rem;
}
.blog-ruleForm {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}